service: tilavihkutin
frameworkVersion: ">=1.32.0 <2.0.0"

custom:
  prefix: arn:aws:lambda:#{AWS::Region}:#{AWS::AccountId}:function:${self:service}-${self:provider.stage}

provider:
  name: aws
  region: eu-west-1
  stage: ${opt:stage, 'dev'}
  profile: heap
  runtime: python3.6

functions:
  echo:
    handler: echo.handler

stepFunctions:
  stateMachines:
    tilavihkutin:
      name: tilavihkutin
      events:
        - http:
            path: run
            method: GET
      definition:
        StartAt: Enter
        States:

          Enter:
            Type: Task
            Resource: ${self:custom.prefix}-echo
            Next: Approve

          Approve:
            Type: Pass
            Result:
              approved: true
              comment: Seal of approval
            ResultPath: "$.approval"
            Next: Exit

          Exit:
            Type: Task
            Resource: ${self:custom.prefix}-echo
            End: true

plugins:
  - serverless-step-functions
  - serverless-pseudo-parameters
